<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="logfile" value=""/>
		<add key="sourcetype" value="Access"/>
		<add key="SourceFile" value="D:\PSE\Project Demo\EmailSender\EmailSender\email_template2.mdb"/>		
		<add key="EmailServer" value=""/>
		<add key="UserName" value=""/>
		<add key="Password" value=""/>
		<add key="SenderEmail" value=""/>
		<add key="SenderName" value="Your Boss"/>
		<add key="ThreadNum" value="1"/>
		<add key="BranchNum" value="1"/>
		<add key="PeriodFrom" value="1"/>
		<add key="PeriodTo" value="3"/>
	</appSettings>
</configuration>